h1 {
    font-family:'Open Sans';
    text-align: center;
    color:aqua
}

h2 {
    border-style:solid;
    border-width: thin;
    border-color: black;
    width: 642px;
    background-color: pink;
}

.itemType {
    width: 175px;
    padding: 5px 5px 25px 25px;
    margin: 0;
    display: inline-block;
    background-color: silver;
}

.disc {
    list-style-type: disc;
}

.decimal {
    list-style-type:decimal;
}

.breathingRoom {
    margin-left: 32px;
}
